@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 900px;
  display: grid;
  grid-template-areas:
    "video-destaque propaganda"
    "video-destaque videos-sugeridos";
  grid-template-columns: 1fr 270px;
  grid-template-rows: 56px 1fr;
  padding: 35px;
  background: #F7F7F7;
  gap: 20px;
  justify-content: center;
}

.video-destaque {
  grid-area: video-destaque;
}

.video-grande {
  max-width: 543px;
  height: 217px;
  background-color: #C4C4C4;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 13px;
}

.video-destaque p {
  margin-top: 9px;
  font-size: 16px;
  max-width: 543px;
  font-weight: 300;
}

/* Coluna direita */
.propaganda {
  grid-area: propaganda;
  max-width: 270px;
  height: 56px;
  background: #C4C4C4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: 300;
}

.videos-sugeridos {
  grid-area: videos-sugeridos;
}

.video {
  margin-top: 15px;
  gap: 0 4px;
  display: flex;
  /* display: grid;
  grid-template-columns: 1fr 2fr; */

}

.video .retangulo-pequeno {
  width: 100px;
  height: 70px;
  background: #C4C4C4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}

.video h3 {
  font-size: 14px;
  font-weight: 700;
}

.video p {
  font-size: 11px;
  font-weight: 300;
  margin-top: 5px;
  max-width: 270px;
}

.video .info {
  display: flex;
  flex-direction: column;

}